@page "/"

<PageTitle>Gerenciamento de Clientes</PageTitle>

<div class="text-center">

	<h1>Gerenciamento de Clientes</h1>

	<p>Web App desenvolvido para Paulo para análise de novo dev, com base na plataforma C#</p>

	<h2>Stack</h2>

	<ul class="list-group-horizontal-md">
		<li class="list-group-item">Blazor</li>
		<li class="list-group-item">AspNetCore</li>
		<li class="list-group-item">SqlLite</li>
		<li class="list-group-item">Boostrap</li>
	</ul>
</div>